.button {
  padding: var(--spacing-4) var(--spacing-8);
  border-radius: var(--button-border-radius);
  background-color: var(--deep-color);
}
.button:hover:not(:disabled) {
  background-color: var(--fade-color);
  cursor: pointer;
}
.button:disabled {
  opacity: 0.4;
}
.inlineButton {
  background-color: transparent;
}
