.background {
  background-color: var(--deep-color);
  position: absolute;
  inset: 0 0 0 0;
  z-index: 1;
  transition: background-color 0.2s;
}
.drawer {
  min-width: 300px;
  max-width: 1000px;
  width: 50vw;
  height: 100%;
  background-color: var(--main-background-color);
  position: absolute;
  inset-block: 0 0;
  overflow: auto;
}
.start {
  inset-inline-start: 0;
}
.end {
  inset-inline-end: 0;
}
.fixed {
  position: fixed;
}
.invisible {
  pointer-events: none;
  background-color: transparent;
}
.offscreen {
  transform: translateX(100%);
  /* transition: transform 0.2s; */
}
.onscreen {
  transform: translateX(0);
  /* transition: transform 0.2s; */
}
