.popoverContainer {
  position: relative;
}
.popover {
  position: absolute;
  right: 0;
  background: var(--main-background-color);
  z-index: 2;
  border-radius: var(--button-border-radius);
  border: 1px solid var(--deep-color);
  box-shadow: var(--box-shadow);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
