.commentsPane {
  min-width: 200px;
  position: relative;
  background-color: var(--darker-color);
}
.commentButton {
  padding: 8px;
  padding: var(--spacing-8);
  position: absolute;
  inset-inline-start: 0;
  transform: translateY(-50%);
  border-radius: var(--button-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentButton:hover {
  background-color: var(--lighter-color);
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}
.flexEnd > *:not(:first-child) {
  margin-inline-start: var(--spacing-8);
}
.addComment {
  padding: var(--spacing-8);
  margin-inline-start: var(--spacing-40);
  background-color: var(--lighter-color);
  border-radius: var(--button-border-radius);
}
.textarea {
  width: 100%;
}
