.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.editorWithComments {
  display: grid;
  grid-template-columns: 1fr 400px;
}
.newFile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newFileInput {
}
