.editor {
  width: 100%;
  height: calc(100vh - var(--nav-bar-height));
  border: none;
}
.selection {
  background: rgba(213, 169, 45, 0.3);
}
.selectionHover {
  background: rgba(213, 169, 45, 0.6);
}
.selection:hover {
  background: rgba(213, 169, 45, 0.6);
}
.commentHover {
  border: 1px solid var(--text-color) !important;
}
