.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.editorWithComments {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
.editorWithCommentsDesktop {
  display: grid;
  grid-template-columns: 1fr 400px;
}
.newFile {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
button.newCommentButton {
  position: fixed;
  inset-block-end: var(--spacing-16);
  inset-inline-end: var(--spacing-16);
  z-index: 1;
  padding: var(--spacing-16);
  background-color: var(--primary-color);
}
button.newCommentButton:hover {
  background-color: var(--primary-color);
  filter: var(--fade-filter);
}
@media screen and (max-width: 650px) {
  button.newCommentButton {
    inset-block-end: calc(var(--spacing-16) + var(--main-nav-height));
  }
}
