.facepile {
  display: flex;
}
.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--face-diameter);
  height: var(--face-diameter);
  border: 2px solid var(--text-color);
  border-radius: calc(var(--face-diameter) / 2);
  margin-inline-start: var(--spacing-8);
  font-size: var(--font-size-0-8);
  user-select: none;
}
.face:first-child {
  margin-inline-start: 0;
}
.overlap {
  display: flex;
}
.overlap .face {
  margin-inline-start: calc(-1 * var(--spacing-12));
}
