.headingBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}
.headingBar svg {
  font-size: var(--font-size-1-2);
}
.headingBar button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-8);
}
.fileslist {
  padding: 0 var(--spacing-4);
  background: var(--darker-color);
  height: 100vh;
}
.filesListItem {
  min-height: 50px;
  display: flex;
  align-items: center;
}
.filesListItem:hover {
  background-color: var(--lighter-color);
}
.highlight {
  background: var(--darker-color);
}
.file {
  display: flex;
  align-items: center;
}
.fileDetails {
  margin-inline-start: var(--spacing-8);
}
.newFileButton {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--spacing-8);
  border: 1px solid currentColor;
  border-radius: var(--button-border-radius);
  padding: var(--spacing-4) var(--spacing-8);
}
.newFileButton svg {
  margin-inline-end: var(--spacing-4);
}
.newFileButton:hover {
  background: var(--lighter-color);
}
.subtitle {
  color: var(--subtle-text-color);
  font-size: var(--font-size-0-6);
  text-align: start;
}
.fileName {
  font-size: var(--font-size-1-0);
}
.newFileInput {
  margin-block-start: var(--spacing-8);
  width: 100%;
}
.hoverDelete {
  position: absolute;
  top: 50%;
  inset-inline-end: var(--spacing-16);
  transform: translateY(-50%);
  background: var(--background-color);
  border: 1px solid currentColor;
  border-radius: var(--button-border-radius);
  padding: var(--spacing-4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e71313;
}
.hoverDelete:hover {
  filter: brightness(130%);
}
.filesEditWrapper {
  position: relative;
}
