.input {
  padding: var(--spacing-4) var(--spacing-4);
  display: block;
}
.error {
  color: red;
  display: block;
}
.formLabel {
  width: 200px;
  margin-right: var(--spacing-4);
  display: inline-block;
  vertical-align: top;
}
