.layout {
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 650px) {
  .layout {
    flex-direction: column-reverse;
  }
}
.grid {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}
.flexFill {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
