.leftNav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
.leftNavButton {
  display: flex;
  height: 50px;
  width: 100%;
  min-width: 50px;
  font-size: var(--font-size-75pct);
  align-items: center;
  justify-content: center;
}
