.leftNavButton {
  display: flex;
  min-height: 50px;
  width: 100%;
  min-width: 50px;
  font-size: var(--font-size-0-6);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing-8) var(--spacing-8);
}
.leftNavButton svg {
  font-size: var(--font-size-1-4);
  margin-bottom: var(--spacing-2);
}
.leftNavButton:hover,
.leftNavButton:focus {
  background: var(--fade-color);
}
.leftNavButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
.leftNavButton:active {
  transform: scale(0.99);
}
.highlight {
  background-color: var(--deep-color);
}
@media screen and (max-width: 1000px) {
  .leftNavButton {
    width: var(--main-nav-height);
    height: var(--main-nav-height);
  }
}
