.leftNav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background: var(--fade-color);
}
@media screen and (max-width: 650px) {
  .leftNav {
    height: var(--main-nav-height);
    flex-direction: row;
    position: fixed;
    inset-block-end: 0;
    inset-inline: 0 0;
    z-index: 1;
    background-color: var(--main-background-color);
  }
  .leftNav ul {
    display: flex;
    flex-direction: row;
  }
}
