.nav {
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-16);
}
.pageTitle {
  font-size: var(--font-size-20);
}
.endSection {
  display: flex;
}
.resolved {
  color: var(--primary-color);
}
