.nav {
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-16);
}
.pageTitle {
  font-size: var(--font-size-20);
}
.shareButton svg {
  margin-inline-start: var(--spacing-8);
}
.shareButton {
  display: flex;
  align-items: center;
}
