.roomButtonWrapper {
  position: relative;
}
.roomButton {
  display: block;
  width: 100%;
  padding: var(--spacing-4) var(--spacing-8);
  text-align: start;
}
.roomButton:hover {
  background: var(--fade-color);
}
.subtitle {
  color: var(--subtle-text-color);
  font-size: var(--font-size-0-6);
}
.active {
  background-color: var(--deep-color);
}
.headingBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-8);
}
.hoverDelete {
  position: absolute;
  top: 50%;
  inset-inline-end: var(--spacing-16);
  transform: translateY(-50%);
  background: var(--background-color);
  border: 1px solid currentColor;
  border-radius: var(--button-border-radius);
  padding: var(--spacing-4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e71313;
}
.hoverDelete:hover {
  filter: brightness(130%);
}
.heading {
  margin-inline-end: var(--spacing-32);
}
.input {
  width: 100%;
}
.newRoomButton {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--spacing-8);
  border: 1px solid currentColor;
  border-radius: var(--button-border-radius);
  padding: var(--spacing-4) var(--spacing-8);
}
.newRoomButton svg {
  margin-inline-end: var(--spacing-4);
}
.newRoomButton:hover {
  background: var(--fade-color);
}
