.settings {
  background: var(--fade-color);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.heading {
  padding: var(--spacing-4) var(--spacing-8);
}
.settings form {
  flex: 1 1 auto;
}
.lines {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}
.checkedLine {
  display: flex;
}
.checkboxContainer {
  padding: var(--spacing-4) var(--spacing-8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
