.textarea {
  width: 100%;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}
.flexEnd > *:not(:first-child) {
  margin-inline-start: var(--spacing-8);
}
.main {
  margin-block-start: var(--spacing-8);
  margin-block-end: var(--spacing-8);
}
