.commentsPane {
  min-width: 200px;
  position: relative;
  background-color: var(--deep-color);
  overflow-y: auto;
  flex: 1 1 auto;
}
.commentsWrapper {
  display: flex;
  position: relative;
}
.commentButtonContainer {
  position: relative;
  overflow-y: auto;
  width: 35px;
  position: absolute;
  z-index: 1;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.commentButtonContainer::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.commentButtonContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
