.comment {
  margin-inline-start: var(--spacing-40);
  position: absolute;
  background-color: var(--lighter-color);
  padding: var(--spacing-4) var(--spacing-8);
  border-radius: var(--button-border-radius);
  inset-inline-start: var(--spacing-8);
  inset-inline-end: var(--spacing-8);
  border: 1px solid var(--lighter-color);
  top: 0;
}
@media screen and (prefers-reduced-motion: no-preference) {
  .comment {
    transition: transform 0.2s;
  }
}
.comment:hover {
  border: 1px solid var(--text-color);
}
.userHeading {
  display: flex;
}
.userNameHeading {
  margin-inline-start: var(--spacing-8);
  font-weight: 500;
}
.text {
  margin-block-start: var(--spacing-8);
}
.focus {
  border: 1px solid var(--text-color);
}
