.commentsPane {
  min-width: 200px;
  position: relative;
  background-color: var(--deep-color);
  overflow-y: auto;
  flex: 1 1 auto;
}
.commentsWrapper {
  display: flex;
}
.commentButtonContainer {
  position: relative;
  overflow-y: auto;
}
