.comment {
  margin-inline-start: var(--spacing-40);
  position: absolute;
  background-color: var(--main-background-color);
  padding: var(--spacing-4) var(--spacing-8);
  border-radius: var(--button-border-radius);
  inset-inline-start: var(--spacing-8);
  inset-inline-end: var(--spacing-8);
  border: 1px solid var(--fade-color);
  top: 0;
}
.comment:hover {
  z-index: 1;
}
/* @media screen and (prefers-reduced-motion: no-preference) { */
.comment {
  transition: transform 0.2s;
}
/* } */
.comment:hover {
  border: 1px solid var(--text-color);
}
.focus {
  border: 1px solid var(--text-color);
}
.addThread {
  margin-block-start: var(--spacing-8);
}
.ruledLine {
  border-block-end: 1px solid var(--fade-color);
}
