:root {
  --light-background-color: #eee;
  --light-main-background-color: #ccc;
  --light-text-color: black;
  --light-subtle-text-color: #555;

  --dark-background-color: #333;
  --dark-main-background-color: #555;
  --dark-text-color: white;
  --dark-subtle-text-color: #aaa;

  --darker-color: rgba(0, 0, 0, 0.1);
  --more-darker-color: rgba(0, 0, 0, 0.2);
  --lighter-color: rgba(255, 255, 255, 0.1);
  --darker-filter: brightness(85%);
  --lighter-filter: brightness(115%);

  --primary-color: #5bf;
  --background-color: var(--dark-background-color);
  --main-background-color: var(--dark-main-background-color);
  --text-color: var(--dark-text-color);
  --subtle-text-color: var(--dark-subtle-text-color);
  --border-color: var(--darker-color);
  --deep-color: var(--more-darker-color);
  --fade-color: var(--lighter-color);
  --deep-filter: var(--darker-filter);
  --fade-filter: var(--lighter-filter);
  --standard-font-size: 20px;
  --box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);

  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-32: 32px;
  --spacing-40: 40px;

  --face-diameter: 26px;
  --button-border-radius: 8px;
  --nav-bar-height: 40px;
  --main-nav-height: 50px;
  --default-files-width: 150px;

  --font-size-3-0: 3rem;
  --font-size-2-2: 2.2rem;
  --font-size-2-0: 2rem;
  --font-size-1-8: 1.8rem;
  --font-size-1-6: 1.6rem;
  --font-size-1-4: 1.4rem;
  --font-size-1-2: 1.2rem;
  --font-size-1-0: 1rem;
  --font-size-0-8: 0.8rem;
  --font-size-0-7: 0.7rem;
  --font-size-0-6: 0.6rem;
}

html {
  font-size: var(--standard-font-size);
  /* https://www.quora.com/What-font-does-Twitter-use */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
input,
textarea,
select {
  font-size: inherit;
  background: var(--darker-color);
  color: var(--text-color);
  border: 1px solid var(--darker-color);
  border-radius: var(--button-border-radius);
  padding: var(--spacing-4) var(--spacing-4);
}
input:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--primary-color);
}
/* From: https://css-tricks.com/overriding-default-button-styles/ */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/* end css reset */

button {
  border: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;
}
ul {
  list-style-type: none;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
